@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";

@plugin "flowbite/plugin";
@source "./node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    /* main text color */
    --color-body: rgb(196, 187, 211);
    --color-body-subtle: rgb(216, 210, 225);

    /* text heading colors */
    --color-heading: rgb(124, 101, 161);

    /* used for custom brand colors */
    --color-fg-brand-subtle: rgb(216, 210, 225);
    --color-fg-brand: rgb(196, 187, 211);
    --color-fg-brand-strong: rgb(156, 143, 181);
}

#app>header {
    >h1 {
        background-image: linear-gradient(180deg, #ffffff1a, #0003 58%), linear-gradient(140deg, #fff, rgb(124, 101, 161));
        background-clip: text;
        letter-spacing: -0.02em;
        transform: translate(0px, 0px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    >p {
        color: rgb(196, 187, 211);
    }
}

div.productContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    >div {
        grid-template-areas:
            "h img"
            "p img"
        ;
        grid-template-columns: 1fr 2fr;

        >div {
            grid-area: h;

        }

        >p {
            grid-area: p;
        }

        >img {
            grid-area: img;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: 1050px) {
    div.productContainer {
        display: grid;
        gap: 0;
        column-gap: 1.5rem;
        grid-template-areas:
            "a1 b1 c1 d1 e1"
            "a2 b2 c2 d2 e2"
            ". . . . ."
            "img img img img img"
        ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 64px 48px 1.5rem auto;

        >div {
            display: contents;

            >div {
                grid-area: var(--position);
            }

            >p {
                grid-area: var(--position);
            }
        }
    }
}

div.pricingContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

    >* {
        flex: auto 1 250px;
    }
}