@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";

@plugin "flowbite/plugin";
@source "./node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --gradient-x {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: false;
}

@property --gradient-y {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: false;
}

@theme {
    /* main text color */
    --color-body: rgb(196, 187, 211);
    --color-body-subtle: rgb(216, 210, 225);

    /* text heading colors */
    --color-heading: rgb(124, 101, 161);

    /* used for custom brand colors */
    --color-fg-brand-subtle: rgb(216, 210, 225);
    --color-fg-brand: rgb(196, 187, 211);
    --color-fg-brand-strong: rgb(156, 143, 181);
}

#app>header {
    >h1 {
        background-image: linear-gradient(180deg, #ffffff1a, #0003 58%), linear-gradient(140deg, #fff, rgb(124, 101, 161));
        background-clip: text;
        letter-spacing: -0.02em;
        transform: translate(0px, 0px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    >p {
        color: rgb(196, 187, 211);
    }
}

div.productContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 800px;

    >div {
        grid-template-areas:
            "h img"
            "p img"
        ;
        grid-template-columns: 1fr 2fr;

        >div {
            grid-area: h;

        }

        >p {
            grid-area: p;
        }

        >img {
            grid-area: img;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: 1050px) {
    div.productContainer {
        --gradient-x: 50%;
        --gradient-y: 50%;
        display: grid;
        gap: 0;
        border-radius: 8px;
        overflow: hidden;
        transition: --gradient-x 0.03s ease, --gradient-y 0.03s ease;
        grid-template-areas:
            "a1 b1 c1 d1 e1"
            "a2 b2 c2 d2 e2"
            "img img img img img"
        ;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto auto auto;
        background-image: radial-gradient(circle at var(--gradient-x) var(--gradient-y), #fff 0%, rgb(124, 101, 161) 20%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        >div {
            display: contents;

            >div {
                grid-area: var(--position);
                padding: .75rem .75rem 0 .75rem;
            }

            >p {
                grid-area: var(--position);
                padding: 0 .75rem .75rem .75rem;
            }

            >img {
                opacity: 0;
                transition: opacity .3s ease;
            }

            &.active {
                >img {
                    opacity: 1;
                }
            }
        }
    }
}

div.pricingContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

    >* {
        flex: auto 1 250px;
    }
}